In [ ]:
Question-1
Answer-
values-"hello",-87.8,6,
expression- *, - , + ,/

In [ ]:
Question-2
Answer-
string- is a sequence of letters,it is put in the single or double inverted commas
variables- it is a space in memory in python where you can put your data types and for that data types we give a variable name.

Example-1.  name="Balnarayan"

Here example 1 is a variable and (name) is variables name, and "Balnarayan" is a string

In [ ]:
Question-3
Answer-python Data types-

Numbers,Bool,set,dict,sequence

Numbers can be three types -int(20),float(12.5),and complex(2+3j).

Bool-types are two
1-True
2-False

set -{1,2,3,4}

Dictionary-{"a":1,"b":2,"c":4,}

Sequence- sequence are three types

1.string-"Balnarayan"
2.list- [1,2,3,"a"]
3.tuple-(1,2,"b",)

In [ ]:
Question- 4
Answer-A valid combination of operators,variables,identifiers,etc in python are called an experatiopn. 

types of expresson-there are many types of expression in python--
1.Arithmetic expression -(expression in python which involves numbers,integers,float,complex and arithmetic operators are called arithmetic expression.

2.string expression
3.relational expression
4.logical expression

   all expressions are represent of values
 
 >>> 5+2
 7
 >>> 5/2
 2.5

In [ ]:
Question -5
Answer-statement are the instructions given to the computer to perform any kind of action.
but expression is a valid combination of operators and atoms.an expression is combination of one or more operations

Question-6
Answer-

bacon=22
bacon+1

In [2]:
bacon=22
bacon+1

23

In [7]:
#Question -7
#Answer-
'spam'+'spamspam'

'spamspamspam'

In [9]:
'spam'*3

'spamspamspam'

In [ ]:
Question-8
Answer-integers,float,bool can not be a variable name.Variable name is known as identifier. There are few rules that you have to follow while naming the variables in Python.-the variable name can start from either a letter or under score
variable name can not start from special character like @,$,&

In [23]:
#Question-9
#Answer -

a=100
b=12.5
c="name"

In [25]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [29]:
#Question-10
#Answer-this is a concatination problm we have to use 99 as a string.
A='I have eaten'" " + '99'" " +  'burritos'
A

'I have eaten 99 burritos'